.fr-icon {
    display: flex;
    align-items: center;
}

/* reset dsfr default icon */
.fr-icon::before,
.fr-icon::after {
    content: unset;
    color: var(--icon-color);
}

.fr-icon--valign-top {
    align-items: flex-start;
}

.fr-icon--valign-bottom {
    align-items: flex-end;
}

$align: center, left, right, space-around, space-between, space-evenly;

@each $align in $align {
    .fr-icon--align-#{$align} {
        justify-content: $align;
    }
}

.fr-icon--clickable {
    cursor: pointer;
    text-decoration: none;
}

.fr-icon--right,
.fr-icon--left {
    overflow: initial;
    max-width: 100%;
    max-height: none;
}


.fr-icon--left {
    &::before {
        content: "";
        --icon-size: 1rem;
        margin-left: -.125rem;
        margin-right: .5rem;
    }

    &.fr-icon--solo::before {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    &::after {
        content: unset;
    }

    &.fr-icon--xs::before {
        --icon-size: .75rem;
    }

    &.fr-icon--lg::before {
        --icon-size: 1.25rem;
    }

    &.fr-icon--xl::before {
        --icon-size: 1.5rem;
    }
}

.fr-icon--right {
    &::before {
        content: unset;
    }

    &.fr-icon--solo::after {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    &::after {
        content: "";
        --icon-size: 1rem;
        margin-right: -.125rem;
        margin-left: .5rem;
    }

    &.fr-icon--xs::after {
        --icon-size: .75rem;
    }

    &.fr-icon--lg::after {
        --icon-size: 1.25rem;
    }

    &.fr-icon--xl::after {
        --icon-size: 1.5rem;
    }
}