.freepik_stories-audit:not(.animated) .animable {
    opacity: 0;
}

.icon1,
.icon2 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}